<form method="post" action="{{ path('app_hotel_reservation_delete', {'id': hotel_reservation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hotel_reservation.id) }}">
    <button class="btn">Delete</button>
</form>
