{% extends 'base.html.twig' %}

{% block title %}Edit HotelReservation{% endblock %}

{% block body %}
    <h1>Edit HotelReservation</h1>

    {{ include('hotel_reservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hotel_reservation_index') }}">back to list</a>

    {{ include('hotel_reservation/_delete_form.html.twig') }}
{% endblock %}
