{% extends 'base.html.twig' %}

{% block title %}New Hotel Reservation{% endblock %}

{% block body %}
    <h1>Create new Hotel Reservation</h1>

    {{ include('hotel_reservation/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_hotel_reservation_index') }}" role="button">Back to list</a>
{% endblock %}
